body {
    background-color: rgb(62, 52, 125);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 22;
    margin-left: 26px;
    margin-top: 22px;
    padding-left: 190px;
}

h1 {
    font-size: 48px;
    margin-top: 0px;
}

button {
    cursor: pointer;
}

.import-directions {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    gap: 6px;
}

.steps {
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
    align-items: center;
}

.step-number {
    border-style: solid;
    border-radius: 50px;
    padding: 4px 8px;
    margin-right: 10px;
    align-self: flex-start;
}

.platform-buttons {
    margin-bottom: 10px;
}

.platform-buttons button {
    width: 100px;
    padding: 4px;
    font-size: 16px;
    border-radius: 10px;
    border-style: none;
    margin-right: 8px;
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    color: white;
}

.platform-buttons button:hover {
    border-color: rgb(78 124 255);
}

.platform-buttons .selected {
    background-color: rgb(78 124 255);
    border-color: rgb(78 124 255);
    color: black;
}

img {
    margin-top: 14px;
}

.link {
    width: 200px;
    font-size: 16px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(53, 44, 112);
    padding: 8px 10px;
    background-color: rgb(53, 44, 112);
    color: white;
}

input:focus {
    outline: none;
    border-color: rgb(78 124 255);
}

.js-import-button {
    font-size: 16px;
    padding: 6px 16px;
    border-radius: 10px;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    color: rgb(0, 255, 0);
    background-color: transparent;
    margin-left: 10px;
    margin-right: 10px;
}

.js-import-button:hover {
    border-color: rgb(0, 255, 0);
}

.js-import-result {
    padding: 16px;
    border-style: none;
    border-radius: 10px;
    width: 206px;
    text-align: center;
    display: none;
    margin-top: 6px;
    font-weight: bold;
}

.success {
    background-color: rgb(0, 255, 0);
    color: black;
    display: block;
}

.failure {
    background-color: rgb(252, 129, 129);
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.container {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.checkbox {
    width: 20px;
    height: 20px;
}

.import-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 32px;
}

.server-down {
    background-color: lightpink;
    max-width: 675px;
    color: black;
    padding: 8px;
    display: none;
}

.exclamation {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(219, 171, 76);
    color: white;
    font-weight: 600;
    border-radius: 100px;
    width: 28px;
    height: 28px;
    margin-right: 4px;
    font-size: 24px;
}
