body {
    background-color: rgb(62, 52, 125);
    font-family: Arial, sans-serif;
    padding-left: 216px;
    margin: 0px;
    padding-top: 32px;
    padding-bottom: 32px;
}

main {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

h1 {
    margin-top: 32px;
    font-size: 48px;
    color: white;
    margin: 0px;
}

.search-bar {
    padding: 8px;
    border-radius: 10px;
    border-style: none;
    max-width: 180px;
}

.search-bar:focus-visible {
    outline: none;
}

.character-cards {
    display: flex;
    flex-direction: column;
    max-height: 264px;
    overflow-y: auto;
    row-gap: 8px;
    max-width: 250px;
    background-color: rgb(53, 44, 112);
    padding-left: 8px;
    padding-top: 8px;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
    color: white;
}

.card:hover {
    background-color: rgb(75, 65, 142);
    cursor: pointer;
}

.character-img {
    height: 40px;
    border-radius: 20px;
}

.num-input {
    height: 40px;
    width: 100px;
}

.edited-chars-list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

}

.edited-char {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.num-input {
    border-radius: 0.6rem;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    max-width: 5rem;
    background-color: rgb(53, 44, 112);
    color: white;
    font-size: 16px;
    padding-left: 8px;
}

.num-input:focus {
    outline: none;
}

.delete-button {
    color: red;
    background-color: transparent;
    border-style: solid;
    border-radius: 0.6rem;
    border-color: gray;
    font-size: 16px;
    cursor: pointer;
}

.delete-button:hover {
    border-color: rgb(78, 124, 255);
}

/* .rarity6 {
    border-color: rgb(224,154,37);
    color: rgb(224,154,37);
}

.rarity5 {
    border-color: rgb(228,199,128);
    color: rgb(228,199,128);
}

.rarity4 {
    border-color: rgb(106,73,114);
    color: rgb(106,73,114);
}

.rarity3 {
    border-color: rgb(84,92,125);
    color: rgb(84,92,125);
}

.rarity2 {
    border-color: rgb(73,100,65);
    color: rgb(73,100,65);
} */