body {
    background-color: rgb(62, 52, 125);
    font-family: Arial, sans-serif;
    padding-left: 190px;
    margin: 0px;
}

p {
    color: white;
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 18px;
}

.banner {
    border-radius: 10px;
    background-color: rgb(89, 79, 157);
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: min-content;
}

.banner-stats {
    display: flex;
    flex-direction: row;
    background-color: rgb(53, 44, 112);
    border-radius:10px;
    padding: 16px;
    margin-bottom: 8px;
    align-items: center;
}

.inner-section {
    display: flex;
    color: white;
    font-size: 16px;
    flex: 1;
    justify-items: center;
    flex-direction: column;
    line-height: 24px;
}

.lifetime-pulls {
    display: flex;
    text-align: right;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.banner-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 808px;
    gap: 16px;
    height: min-content;
}

/* @media screen and (max-width: 800px) and (min-width: 400px) {
    .banner-wrapper {
        grid-template-columns: 1fr;
    }

    body {
        padding-left: 0px;
        padding-top: 90px;
    }
} */

.orange-pity, .yellow-pity {
    display: flex;
    text-align: right;
    color: orange;
    font-size: 30px;
    font-weight: bold;
    margin-left: 16px;
}

.yellow-pity {
    color: yellow;
}

.summon-tracker {
    padding-left: 32px;
    padding-top: 32px;
}

.header {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}

a {
    align-self: center;
}

.Auto-Import {
    background-color: rgb(62, 52, 125);
    border-style: solid;
    border-color: gray;
    color: white;
    border-radius: 8px;
    width: 150px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

.Auto-Import:hover {
    border-color: rgb(78, 124, 255);
}

.Title {
    color: white;
    font-size: 48px;
    font-weight: bold;
    padding-right: 14px;
}

.guaranteed, .jiu-guaranteed {
    background-color: orange;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 10px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 0px;
    padding-bottom: 1px;
    display: none;
}

.guaranteed .tooltip, .jiu-guaranteed .tooltip {
    position: absolute;
    background-color: orange;
    bottom: -60px;
    right: 0px;
    font-size: 14px;
    padding: 8px;
    width: 250px;
    border-radius: 12px;
    border: 2px solid rgb(53, 44, 112);
    opacity: 0;
    pointer-events: none;
}

.guaranteed:hover .tooltip, .jiu-guaranteed:hover .tooltip {
    opacity: 1;
}

.guaranteed-at-seventy, .clear-drop-count {
    color: rgb(113, 128, 150);
    line-height: 24px;
}

.clear-drop-container {
    display: flex;
}

.clear-drop {
    width: 22px;
}

.banner-history{
    display: none;
    color:white;
    font-size: 14px;
    border-spacing: 0px;
}

.history-header {
    text-align: left;
    padding-bottom: 4px;
}

td, th {
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: gray;
}

.banner-history-time {
    font-size: 12px;
}

.banner-history-name-6star {
    color: orange;
}

.banner-history-name-5star{
    color: yellow;
}

.js-limited-banner-show-history, .js-standard-banner-show-history, .js-jiu-banner-show-history {
    color: white;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.limited-filter-buttons, .standard-filter-buttons, .jiu-filter-buttons {
    margin-top: 12px;
    margin-bottom: 2px;
    display: none;
}

.js-limited-show-6stars-button-true, .js-standard-show-6stars-button-true, .js-jiu-show-6stars-button-true { 
    background-color: orange;
}
.js-limited-show-5stars-button-true, .js-standard-show-5stars-button-true, .js-jiu-show-5stars-button-true {
    background-color: yellow;
}
.js-limited-show-432stars-button-true, .js-standard-show-432stars-button-true, .js-jiu-show-432stars-button-true {
    background-color: green;
}

.js-limited-show-6stars-button-true, .js-limited-show-5stars-button-true, .js-limited-show-432stars-button-true,
.js-standard-show-6stars-button-true, .js-standard-show-5stars-button-true, .js-standard-show-432stars-button-true,
.js-jiu-show-6stars-button-true, .js-jiu-show-5stars-button-true , .js-jiu-show-432stars-button-true  {
    border-style: none;
    color: black;
    font-size: 16px;
    border-radius: 50px;
    padding: 4px 16px;
    margin-right: 4px;
    cursor: pointer;
}

.js-limited-show-6stars-button-false, .js-limited-show-5stars-button-false, .js-limited-show-432stars-button-false, 
.js-standard-show-6stars-button-false, .js-standard-show-5stars-button-false, .js-standard-show-432stars-button-false,
.js-jiu-show-6stars-button-false, .js-jiu-show-5stars-button-false , .js-jiu-show-432stars-button-false {
    background-color: rgb(89, 79, 157);
    border-style: solid;
    color: white;
    font-size: 16px;
    border-radius: 50px;
    padding: 2px 14px;
    border-width: 2px;
    margin-right: 4px;
    cursor: pointer;
}

.graph {
    border-radius: 10px;
    background-color: rgb(89, 79, 157);
    display: none;
    width: 400px;
    margin-bottom: 100px;
}

.banner-extra-stats-table {
    border-spacing: 0px;
}

.banner-extra-stats-table tr th{
    color: rgb(203, 213, 224);
    text-align: right;
    font-weight: normal;
    font-size: 14px;
    border-bottom-style: solid;
    border-bottom-width: 1px
}

.banner-extra-stats-table tr .banner-extra-stats-title {
    color: white;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}

.banner-extra-stats-6star-row {
    color: orange;
    text-align: right;
}

.banner-extra-stats-5star-row {
    color: yellow;
    text-align: right;
}

.standard-banner-extra-stats-5star-row td {
    border-bottom-style: none;
}

.six-star-list {
    margin-top: 6px;
}

.six-star-list-elements {
    border-style: solid;
    border-width: 1px;
    padding: 2px 8px;
    border-radius: 50px;
    margin-right: 4px;
    line-height: 28px;
    white-space: nowrap;
    color: rgb(203, 213, 224);
    border-color: rgb(160, 174, 192);
}

.won-5050 {
    border-color: orange;
}

.banner-selection {
    height: min-content;
    background-color: rgb(89, 79, 157);
    max-width: 416px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 8px;
    flex-wrap: wrap;
    gap: 4px;
}

.banner-selection div {
    background-color: rgb(53, 44, 112);
    border-radius: 10px;
    padding: 4px;
    color: white;
    text-wrap: nowrap;
    cursor: pointer;
    border-style: solid;
    border-color: rgb(53, 44, 112);
    border-width: 1px;
    align-self: center;
    display: flex;
    align-items: center;
}

.banner-selection .all-button {
    padding: 11px 38px;
    font-size: 20px;
}

.banner-selection .selected {
    border-color: white;
}

.banner-selection img {
    width: 90px;
    border-radius: 4px;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.side-wrapper {
    margin-left: 16px;
    gap: 16px;
}

.flex-column .banner-history {
    display: table;
}

.beginner-title {
    align-self: center; 
    margin-bottom: 4px;
}

.border-bottom-style-solid {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: gray;
}

.border-bottom-style-none {
    border-bottom-style: none;
}

.global-stats {
    color: white;
}

.global-stats-header {
    align-self: center;
    padding-bottom: 16px;
    font-size: 18px;
}

.global-stats-description {
    color: rgb(113, 128, 150);
    font-size: 14px;
    line-height: 80%;
}

.top-bottom {
    font-size: 14px;
    font-weight: bold;
    line-height: 80%;
    align-self: center;
}

.percentage {
    font-size: 30px;
    font-weight: bold;
    line-height: 80%;
}

.global-stats-banner-type-buttons {
    align-self: center;
}