body {
    background-color: rgb(62, 52, 125);
    font-family: Arial, sans-serif;
}
p {
    color: white;
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 18px;
}

.banner {
    border-radius: 10px;
    background-color: rgb(89, 79, 157);
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-top: 16px;
    width: 400px;
    margin-right: 16px;
    margin-bottom: 16px;
    height: min-content;
}

.banner-stats {
    display: flex;
    flex-direction: row;
    background-color: rgb(53, 44, 112);
    border-radius:10px;
    padding: 16px;
    margin-bottom: 8px;
    align-items: center;
}

.inner-section {
    display: flex;
    color: white;
    font-size: 16px;
    flex: 1;
    justify-items: center;
    flex-direction: column;
    line-height: 24px;
}

.lifetime-pulls {
    display: flex;
    text-align: right;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1300px;
}

.orange-pity, .yellow-pity {
    display: flex;
    text-align: right;
    color: orange;
    font-size: 30px;
    font-weight: bold;
    margin-left: 16px;
}

.yellow-pity {
    color: yellow;
}

.summon-tracker {
    padding-left: 10px;
    padding-top: 10px;
}

.header {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}

a {
    align-self: center;
}

.Auto-Import {
    background-color: rgb(62, 52, 125);
    border-style: solid;
    border-color: gray;
    color: white;
    border-radius: 8px;
    width: 150px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

.Auto-Import:hover {
    border-color: blue;
}

.Title {
    color: white;
    font-size: 48px;
    font-weight: bold;
    padding-right: 14px;
}

.guaranteed {
    background-color: orange;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 10px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    /* Not showing this for now because i haven't implemented knowing whether your next 6* is guaranteed yet */
    display: none;
}

.guaranteed .tooltip {
    position: absolute;
    background-color: orange;
    bottom: -60px;
    right: 0px;
    font-size: 14px;
    padding: 8px;
    width: 250px;
    border-radius: 12px;
    border: 2px solid rgb(53, 44, 112);
    opacity: 0;
    pointer-events: none;
}

.guaranteed:hover .tooltip {
    opacity: 1;
}

.guaranteed-at-seventy, .clear-drop-count {
    color: rgb(113, 128, 150);
    line-height: 24px;
}

.clear-drop-container {
    display: flex;
}

.clear-drop {
    width: 22px;
}

.js-limited-banner-history, .js-standard-banner-history {
    display: none;
    color:white;
    font-size: 14px;
    border-spacing: 0px;
}

.history-header {
    text-align: left;
    padding-bottom: 4px;
}

td, th {
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: gray;
}

.limited-banner-history-time, .standard-banner-history {
    font-size: 12px;
}

.limited-banner-history-name-6star, .standard-banner-history-name-6star {
    color: orange;
}

.limited-banner-history-name-5star, .standard-banner-history-name-5star {
    color: yellow;
}

.js-limited-banner-show-history, .js-standard-banner-show-history {
    color: white;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.limited-filter-buttons, .standard-filter-buttons {
    margin-top: 12px;
    margin-bottom: 2px;
    display: none;
}

.js-limited-show-6stars-button-true, .js-standard-show-6stars-button-true { 
    background-color: orange;
}
.js-limited-show-5stars-button-true, .js-standard-show-5stars-button-true {
    background-color: yellow;
}
.js-limited-show-432stars-button-true, .js-standard-show-432stars-button-true {
    background-color: green;
}

.js-limited-show-6stars-button-true, .js-limited-show-5stars-button-true, .js-limited-show-432stars-button-true,
.js-standard-show-6stars-button-true, .js-standard-show-5stars-button-true, .js-standard-show-432stars-button-true {
    border-style: none;
    color: black;
    font-size: 16px;
    border-radius: 50px;
    padding: 4px 16px;
    margin-right: 4px;
    cursor: pointer;
}

.js-limited-show-6stars-button-false, .js-limited-show-5stars-button-false, .js-limited-show-432stars-button-false, 
.js-standard-show-6stars-button-false, .js-standard-show-5stars-button-false, .js-standard-show-432stars-button-false {
    background-color: rgb(89, 79, 157);
    border-style: solid;
    color: white;
    font-size: 16px;
    border-radius: 50px;
    padding: 2px 14px;
    border-width: 2px;
    margin-right: 4px;
    cursor: pointer;
}

.graph {
    border-radius: 10px;
    background-color: rgb(89, 79, 157);
    display: none;
    width: 400px;
    margin-bottom: 100px;
}

.banner-extra-stats-table {
    border-spacing: 0px;
}

.banner-extra-stats-table tr th{
    color: rgb(203, 213, 224);
    text-align: right;
    font-weight: normal;
    font-size: 14px;
    border-bottom-style: solid;
    border-bottom-width: 1px
}

.banner-extra-stats-table tr .banner-extra-stats-title {
    color: white;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}

.banner-extra-stats-6star-row {
    color: orange;
    text-align: right;
}

.banner-extra-stats-5star-row {
    color: yellow;
    text-align: right;
}

.banner-extra-stats-5star-row td {
    border-bottom-style: none;
}
